<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Order Lists</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Order Lists</h1>

	<table cellspacing="1" cellpadding="5" border="1">
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Order Type</th>
			<th>Product</th>
			<th>Date</th>
			<th>Visit</th>
			<th>Message</th>
			<th>Reference</th>
			<th>Status</th>
			<th>Action</th>
		</tr>

	<% data.forEach(function(order){ %>
		<tr>
			<td><%= order.name %></td>
			<td><%= order.phone %></td>
			<td><%= order.email %></td>
			<td><%= order.order %></td>
			<td><%= order.product %></td>
			<td><%= order.date %></td>
			<td><%= order.visit %></td>
			<td><%= order.message %></td>
			<td><%= order.ref %></td>
			<td><%= order.status %></td>
			<td><a href="updateorder/<%= order.doc_id %>">Edit</a>  | <a href="">Delete</a> </td>
		</tr>
	<% }); %>

	</table>

</body>
</html>